/*primary color: #4cd200*/
/*secondary color: #d7fec1*/

 @font-face {
     font-family: 'Philosopher';
     src: url('../fonts/Philosopher-Regular.ttf');
}

/*=============bootstrap============*/
.btn-primary{
    background-color:#4cd200 !important;
    color: #fff;
    border-color: #4cd20077;
}
.btn-primary:hover{
  background-color:#4cd20077 !important;
  color: #fefefe;
  border-color: #4cd200;
}

.bg-primary{
    background-color:#4cd200 !important;
}
.bg-secondary{
    background-color:#d7fec1 !important;
}
.border-primary{
  border-color: #4cd200 !important;
}
.border-secondary{
  border-color: #d7fec1 !important;
}
.text-primary{
  color: #4cd200 !important;
}
/*=========================*/
 body{
     font-family:'Philosopher';;
     font-size: 14px;
     color:#000;
     /*background-image:url('../images/herbal.jpg');*/
     background-color:#c9c9c9;
     background-size: cover;
     background-position:center top;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
.overlay{
	position: fixed; /* Sit on top of the page content */
	/*display: none;  Hidden by default*/ 
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.5); /* Black background with opacity */
	z-index: 1
}
h1{
     font-size:1.6rem;
}
h2{
     font-size:1.5rem;
}
h3{
     font-size:1.4rem;
}
h4{
     font-size:1.3rem;
}
h5{
     font-size:1.2rem;
}
h6{
     font-size:1rem;
}
a{
    text-decoration: none;
    color: #4cd200;
}
a:hover{
    text-decoration: none;
    color: #4cd20077;
}
p{
     font-family:"Times New Roman";
     font-size: 15px;
     line-height: 24px;
}

/*====================*/
.header{
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
}
input[type="text"],textarea{
     font-family:"Times New Roman",serif,'bangla';
     width: 255px;
     padding: 5px;
}
select{
     font-family:"Times New Roman",serif,'bangla';
     width: 267px;
     padding: 5px;
}
input[type="submit"]{
     width: 100px;
     padding: 4px;
}
footer{
     margin-top: 20px;
     font-family: 'Philosopher', sans-serif;
}
/*===========container==========*/
.container{
	position: relative;
	background:rgba(255,255,255,1);
	z-index: 2;
}
.header-top{
     font-family: 'Philosopher', sans-serif;
}
.buscket{
    padding: 10px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #4cd200;
    color: #4cd200;
}
.buscket:hover{
    background: #d7fec1;
    text-decoration: none;
    color: #4cd200;
}
/*===========nav bar==========*/
 .navbar{
     padding:0rem;
}
 .nav-link{
     padding:0rem;
}
 .navbar-expand-lg .navbar-nav .nav-link {
     padding:0.2rem 3.5rem;
     border-right: 1px solid #efefef;
}
 .navbar-dark .navbar-nav .nav-link {
     color:rgba(255,255,255,1);
     font-size: 14px;
     font-weight:600;
}
 .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
     color:#4cd200;
     background:#d7fec1;
    /*#D92719*/
}
 .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
     color:#4cd200;
     background:#d7fec1; 
    /*#D92719*/
}
 nav a{
     text-decoration: none;
     font-family: 'Philosopher', sans-serif;
}

/*===========product ==========*/
.price{
    font-size: 33px;
    font-weight: bold;
    font-family: arial;
}
.card-body {
  padding:0.4rem 0.2rem;
}
/*===========pagination ==========*/
 .pagination{
     margin:0;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}
 .pagination a{
     text-decoration: none;
     padding: 0px 7px;
     margin:3px;
     line-height: 20px;
     display: inline-block;
     border: 1px solid #4cd200;
     color: #333;
}
 .pagination a:hover{
     background: #d7fec1;
}
 .pagination a.active{
     background:#d7fec1;
     border: 1px solid #4cd200;
     color: #4cd200;
}
