@font-face {
     font-family: 'bangla';
     src: url('../fonts/SolaimanLipi_20-04-07.ttf');
}
 @font-face {
     font-family: 'Philosopher';
     src: url('../fonts/Philosopher-Regular.ttf');
}
 body{
     font-family:"Times New Roman",serif,'bangla';
     font-size: 14px;
     color:#000;
     background-image:url('../images/herbal.jpg');
     background-size: cover;
     background-position:center top;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
.overlay{
	position: fixed; /* Sit on top of the page content */
	/*display: none;  Hidden by default*/ 
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.5); /* Black background with opacity */
	z-index: 1
}
h1{
     font-size:1.6rem;
}
h2{
     font-size:1.5rem;
}
h3{
     font-size:1.4rem;
}
h4{
     font-size:1.3rem;
}
h5{
     font-size:1.2rem;
}
h6{
     font-size:1rem;
}
a{
     text-decoration: none;
}
p{
     font-family:"Times New Roman",serif,'bangla';
     font-size: 15px;
     line-height: 24px;
}

/*====================*/
input[type="text"],textarea{
     font-family:"Times New Roman",serif,'bangla';
     width: 255px;
     padding: 5px;
}
select{
     font-family:"Times New Roman",serif,'bangla';
     width: 267px;
     padding: 5px;
}
input[type="submit"]{
     width: 100px;
     padding: 4px;
}
footer{
     margin-top: 20px;
     font-family: 'Philosopher', sans-serif;
}
/*===========container==========*/
.container{
	position: relative;
	width: 960px;
	background:rgba(255,255,255,0.95);
	z-index: 2;
}
.header-top{
     font-family: 'Philosopher', sans-serif;
}
/*===========nav bar==========*/
 .navbar{
     padding:0rem;
}
 .nav-link{
     padding:0rem;
}
 .navbar-expand-lg .navbar-nav .nav-link {
     padding:0.2rem 3.5rem;
     border-right: 1px solid rgba(125, 27, 19, 0.6);
}
 .navbar-dark .navbar-nav .nav-link {
     color:rgba(255,255,255,1);
     font-size: 14px;
     font-weight:600;
}
 .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
     color:rgba(255,255,255,1);
     background:rgba(125, 27, 19, 0.5) 
    /*#D92719*/
}
 .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
     color:rgba(255,255,255,1);
     background:rgba(125, 27, 19, 0.5) 
    /*#D92719*/
}
 nav a{
     text-decoration: none;
     font-family: 'Philosopher', sans-serif;
}
/*===========text color ==========*/
 .padding{
     padding:2px 5px;
}
 .white{
     color: #fff;
}
 .red{
     color: #D92719;
}
 .green{
     color: #B0D458;
}
 .yellow{
     color: #ff9800;
}
 .sky{
     color: #6568FE;
}
 .blue{
     color: #12279b;
}
/*===========bg color ==========*/
 .white_bg{
     background:#fff;
}
 .red_bg{
     background:#D92719;
}
 .green_bg{
     background:#B0D458;
}
 .yellow_bg{
     background:#ff9800;
}
 .sky_bg{
     background: #6568FE;
}
 .blue_bg{
     background:#12279b;
}
/*===========bg color ==========*/
 .cart_top table{
     display: none;
}
 .cart_top:hover table{
     display: block;
}
/*===========bg color ==========*/
 .pagination{
     margin:0;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}
 .pagination a{
     text-decoration: none;
     padding: 0px 7px;
     margin:3px;
     line-height: 20px;
     display: inline-block;
     border: 1px solid #999;
     color: #333;
}
 .pagination a:hover{
     background: #aaa;
}
 .pagination a.active{
     background:#D92719;
     border: 1px solid #000;
     color: #fff;
}
